// Center the form content
ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
  }
  
  // Style the form container
  form {
    width: 100%;
    max-width: 400px; // Limit the form width
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
  }
  

  

  // Style the "Create" button
  ion-button {
    margin-top: 20px;
    --background: #9a2b2b; // Primary blue color
    --border-radius: 6px;
    font-weight: bold;
  }
  
  ion-button:hover {
    --background: #4c8dff; // Slightly lighter on hover
  }
  