<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label class="ion-justify-content-center ion-padding">
    <h2 class="ion-text-center">
      Available Gift Cards
    </h2>
  </ion-label>

  <ng-container *ngFor="let giftCard of giftCards">
    <ion-card [routerLink]="['/gift', giftCard.id]" routerDirection="forward">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="baseUrl + '/storage/' + giftCard.image_url" alt="{{ giftCard.title }}" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ giftCard.title }}</h2>
          <p>{{ giftCard.description }}</p>
          <p>{{ giftCard.start_date }}</p>
          <p>{{ giftCard.end_date }}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </ng-container>
</ion-content>
