
  ion-title {
    font-weight: bold;
    font-size: 20px;
  }
  

  ion-card-title {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
  
  ion-card-subtitle {
    font-size: 14px;
    color: #e9e9e9;
  }
  
  ion-item {
    --min-height: 80px; 
  }
  
  ion-thumbnail img {
    border-radius: 8px; 
  }
  
  ion-label h2 {
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
  }
  
  ion-label p {
    font-size: 12px;
    color: #c5c5c5;
  }
  