<ion-header *ngIf="giftCard">
  <ion-toolbar>
    <ion-title>{{ giftCard?.title }}</ion-title>  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="giftCard">
    <ion-card-header>
      <ion-card-title>{{ giftCard?.title }}</ion-card-title>
      <ion-card-subtitle>{{ giftCard?.description }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img [src]="baseUrl + '/storage/' + giftCard?.image_url" alt="{{ giftCard?.title }}" />
      <p><strong>Start Date:</strong> {{ giftCard?.start_date }}</p>
      <p><strong>End Date:</strong> {{ giftCard?.end_date }}</p>
      <ion-button (click)="downloadPDF()">Download as PDF</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
